<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    {{#if currentUser}}
    <nav>
      <p>hello: {{ currentUser.username }}</p>
      <form action="/auth/logout" method='POST'>
        <input type="submit" value="logout">
      </form>
    </nav>
    {{/if}}
    {{{body}}}
  </body>
</html>
