<h2>Signup</h2>
<form action="/auth/signup" method='post'>
  <label for="username">Username</label><br>
  <input type="text" name="username"
    placeholder="username">

  <br><br>
  <label for="password">Password</label><br>
  <input type="password" name="password"
    placeholder="password">
  <br><br>
  {{ message }}
  <button>Create account</button>
</form>
